.tout {
  position: relative;
  background-color: gray;
  background-size: cover;
  background-position: center center;
}

.tout-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}