{% comment %} Document Sites Styles Here {% endcomment %}

<section class="container my-5">
  <h2>Colors</h2>
  <hr>
  <h3>Brand Colors</h3>
  <div class="row">
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-primary"></div>
      <h5>Brand Primary</h5>
      <code>.bg-primary</code>
    </div>
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-secondary"></div>
      <h5>Brand Secondary</h5>
      <code>.bg-secondary</code>    
    </div>
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-success"></div>
      <h5>Brand Success</h5>
      <code>.bg-success</code>    
    </div>
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-danger"></div>
      <h5>Brand Danger</h5>
      <code>.bg-danger</code>    
    </div>
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-warning"></div>
      <h5>Brand Warning</h5>
      <code>.bg-warning</code>    
    </div>
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-info"></div>
      <h5>Brand Info</h5>
      <code>.bg-info</code>    
    </div>
  </div>
  <h3>Grays</h3>
  <div class="row">
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-light"></div>
      <h5>Brand Light</h5>
      <code>.bg-light</code>    
    </div>
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-dark"></div>
      <h5>Brand Dark</h5>
      <code>.bg-dark</code>    
    </div>
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-white"></div>
      <h5>Brand White</h5>
      <code>.bg-white</code>    
    </div>
    <div class="col-sm-4 mb-3">
      <div class="color-block py-5 bg-transparent"></div>
      <h5>Brand Transparent</h5>
      <code>.bg-transparent</code>    
    </div>
  </div>
</section>

<section class="container my-5">
  <h2>Typography</h2>
  <hr>
  <h3>Headings</h3>
  <div class="row">
    <div class="col mb-3">
      <h1>h1. Bootstrap heading</h1>
      <h2>h2. Bootstrap heading</h2>
      <h3>h3. Bootstrap heading</h3>
      <h4>h4. Bootstrap heading</h4>
      <h5>h5. Bootstrap heading</h5>
      <h6>h6. Bootstrap heading</h6>
    </div>
  </div>
  <h3>Display Headings</h3>
  <div class="row">
    <div class="col mb-3">
      <h1 class="display-1">Display 1</h1>
      <h1 class="display-2">Display 2</h1>
      <h1 class="display-3">Display 3</h1>
      <h1 class="display-4">Display 4</h1>
    </div>
  </div>
  <h3>Paragraph Styles</h3>
  <div class="row">
    <div class="col mb-3">
      <h5>Lead</h5>
      <p class="lead">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
      <code>.lead</code>
      <br>
      <br>
      <h5>Blockquote</h5>
      <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </blockquote>
      <h5>Links</h5>
      <a href="#">Text Link</a>
      <p>Duis mollis, est non commodo luctus. <a href="#">Link In Paragraph</a> Integer posuere erat a ante.</p>
    </div>
  </div>
</section>