  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "image_picker",
    "id": "image_portrait",
    "label": "Image Portrait"
  },
  {
    "type": "select",
    "id": "alignment",
    "label": "Image alignment",
    "default": "center",
    "options": [
      {
        "value": "top",
        "label": "Top"
      },
      {
        "value": "center",
        "label": "Middle"
      },
      {
        "value": "bottom",
        "label": "Bottom"
      }
    ]
  },
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Image with text overlay"
  },
  {
    "type": "richtext",
    "id": "text",
    "label": "Text",
    "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
  },
  {
    "type": "select",
    "id": "text_size",
    "label": "Text size",
    "default": "medium",
    "options": [
      {
        "label": "Medium",
        "value": "medium"
      },
      {
        "label": "Large",
        "value": "large"
      }
    ]
  },
  {
    "type": "text",
    "id": "button_label",
    "label": "Button label"
  },
  {
    "type": "url",
    "id": "button_link",
    "label": "Button link"
  }