
.product-img-alt-nav {
  .nav-item {
    width: 16.67%;
  }
  .nav-link {
    padding: 0;
  }
  .product-single__thumbnail-image {
    width: 100%; 
  }
}

.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $primary;
  }
}
