
{% for block in section.blocks %}
  {{ block.shopify_attributes }}
  {% case block.type %}

    {% when 'hero' %}
    {% include 'section_hero-banner' %}

    {% when 'Image' %}
    {% include 'section_image-with-text' %}

    {% when 'blog' %}
    {% include 'section_blog-posts' %}

  {% endcase %}

{% endfor %}

{% schema %}
{
  "blocks": [
    {
      "type": "hero",
      "name": "Hero Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_portrait",
          "label": "Image Portrait"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment",
          "default": "center",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text overlay"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "default": "medium",
          "options": [
            {
              "label": "Medium",
              "value": "medium"
            },
            {
              "label": "Large",
              "value": "large"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    },
    {
      "type": "Image", 
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Image alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button Type",
          "default": "btn-secondary",
          "options": [
            {
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "value": "btn-secondary",
              "label": "Secondary"
            },
            {
              "value": "btn-info",
              "label": "Info"
            },
            {
              "value": "btn-link",
              "label": "Link"
            },
            {
              "value": "btn-warning",
              "label": "Warning"
            },
            {
              "value": "btn-outline-light",
              "label": "Outline Light"
            },
            {
              "value": "btn-outline-dark",
              "label": "Outline Dark"
            }
          ]
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        }
      ]
    },
    {
      "type": "blog",
      "name": "Blog posts",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Blog posts"
        },
        {
          "id": "blog",
          "type": "blog",
          "label": "Blog"
        },
        {
          "type": "range",
          "id": "post_limit",
          "label": "Posts",
          "min": 3,
          "max": 12,
          "step": 3,
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "label": "Show author",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "label": "Show date",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}