.hero {
  &.jumbotron {
    padding: 0;
  }
}
picture,
.hero-banner-img {
  width: 100%;
}
.hero-overlay {
  position: relative;
  display: flex;
  .hero-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .25);
  }
  h1,
  h2,
  p {
    color: white;
  }
}

// background hero banner
.hero-bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 100%;
  @include media-breakpoint-up(md) {
    padding-bottom: 42%;
  }
}